<!DOCTYPE html>
<html>
  <head>
    <title>訂單</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%= order.id %>
    <%= order.amount %>
    <% order.orderDetails.forEach((item) => { %>
      <tr>
        <td><%= item.name %></td>
        <td><%= item.quantity %></td>
        <td><%= item.price %></td>
      </tr>
    <% }); %>
    <form action="/createOrder/<%= order.id %>" method="post">
        <button type="submit">送出表單</button>
    </form>
  </body>
</html>
